/* Temporaire *** Eliminer ***********/
/* .bord-red, * {     
  border: 1px dotted red;
} */

/* *** Redefinir les styles **********/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* *** Centrage ******************/
.center-elt {
  width: 80%; /* il faut definir une taille pour le centrage... */
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}

/* Taille et marge **************/
.dx10 {
  width: 10%;
}
.padding-10 {
  padding: 10px;
}
.padding-V10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-H10 {
  padding-left: 10px;
  padding-right: 10px;
}
.margin-H10 {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-V10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Div Alignement... **********************/
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.axe1-start {
  justify-content: flex-start;
}
.axe1-center {
  justify-content: center;
}
.axe1-sp-around {
  justify-content: space-around;
}
.axe1-sp-between {
  justify-content: space-between;
}
.axe2-center {
  align-items: center;
}

/* *** Color *********************/

.bord-red {
  border: 1px solid red;
  border-radius: 5px;
}

.bg-red-yellow {
  background: linear-gradient(90deg, 
  	rgba(255,75,1,0.9) 0%, 
  	rgba(250,160,0,0.80) 10%, 
  	rgba(255,230,0,0.60) 20%,
  	rgba(255,230,0,0.50) 100%
  );
}

.bg-transp {
  background-color: rgba(255, 255, 255, 0.777);
}

/* ***/
#divDateFile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#divContenu {
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px;
  margin: 0px 5px 15px 5px;
}